header{
  height: 500px;
    width: 1000px;
    display:flex;
    background-color: DeepSkyBlue;
    background-position: center;
    background-size: cover;
}

main{
    width: 860px;
    min-height: -180px;
    background-color: white;
    position: relative;
    top:-180px;
  background: 
    radial-gradient(40px at bottom, DeepSkyBlue 98%, white) 50% / 70px 100% repeat-x;
}


#titulo{
    margin: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#duckTroll{
    width: 50%;
    text-align: center;
    font-size: 65px;
    padding-bottom: 50px;
  background:
    radial-gradient(40px at bottom,DeepSkyBlue 98%,white) 50% / 70.00px 100%;
}


body{
    background-color: Gainsboro;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#texto{
    margin: 60px;
    height:350px;
    width: 750px;
    background-color: PaleTurquoise;
    display: flex;
    align-items: center;
}

#pato{
width:350px;
height:300px;
}


#explicacaoJogo{
    padding: 30px;
    max-width: 500px;
    text-align:justify;
}

.traco{
    height: 3px;
    width: 150px;
    background-color: DeepSkyBlue;
    margin-bottom: 70px;
}

.onda{
  margin:10px;
  width: 40%;
    text-align: center;
    padding-bottom: 40px;
  background: 
    radial-gradient(40px at bottom, DeepSkyBlue 98%, white) 50% / 70px 100% repeat-x;
}


#sobreJogo{
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin: 100px;  
}



#imgGamemaker{
   
    width:80px;
    height:80px;
    margin: 50px;
    border-radius:100px;
    padding:10px;
}


.gameMaker{
    max-width: 200px;
    padding: 20px;
    border-top: #435383 solid 3px;
  border-left: #435383 solid 3px;
  border-right: #435383 solid 3px;
    border-bottom: #435383 solid 3px;
   
}

.gameMaker:hover{
    border-top: #435383 solid 3px;
    border-bottom: #435383 solid 3px;
  border-left: white solid 3px;
  border-right: white solid 3px;
  background-color: PaleTurquoise; 
  transition: 0.5s;
  opacity: 0.7;
}

.explicacoGameMaker{
    height: 150px;
    margin-top: 20px;
    text-align: justify;
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

.ondinha{
  height: 40px ;
  width: 860px;
   background: 
    radial-gradient(40px at top, DeepSkyBlue 98%, white) 50% / 70px 100% repeat-x;
}

#gMaker{
    margin-top:1px;
    background-color: DeepSkyBlue;
    justify-content: center;
    align-items: center;
    display: flex;
    width:200px;
    height:40px;
    border: 100px;
}
#gMaker:hover{
    background-color: DeepSkyBlue;}